<div class="form-bg">
  <form action="/restaurants" method="POST">

    <div class="input-group flex-nowrap pt-2" style="max-width: 50%; margin: auto auto;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">餐廳名稱</span>
      </div>
      <input type="text" class="form-control bg-dark text-white" name="name" placeholder="尚未輸入">
    </div>

    <div class="input-group flex-nowrap pt-2" style="max-width: 50%; margin: auto auto;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">餐廳電話</span>
      </div>
      <input type="text" class="form-control bg-dark text-white" name="phone" placeholder="尚未輸入">
    </div>

    <div class="input-group flex-nowrap pt-2" style="max-width: 50%; margin: auto auto;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">餐廳評分</span>
      </div>
      <input type="text" class="form-control bg-dark text-white" name="rating" placeholder="尚未輸入">
    </div>

    <div class="input-group flex-nowrap pt-2" style="max-width: 50%; margin: auto auto;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">餐廳位置</span>
      </div>
      <input type="text" class="form-control bg-dark text-white" name="google_map" placeholder="尚未輸入">
    </div>


    <div class="input-group flex-nowrap pt-2" style="max-width: 50%; margin: auto auto;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">餐廳地址</span>
      </div>
      <input type="text" class="form-control bg-dark text-white" name="location" placeholder="尚未輸入">
    </div>

    <div class="input-group flex-nowrap pt-2" style="max-width: 50%; margin: auto auto;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">餐廳類別</span>
      </div>
      <input type="text" class="form-control bg-dark text-white" name="category" placeholder="尚未輸入">
    </div>

    <div class="input-group flex-nowrap pt-2" style="max-width: 50%; margin: auto auto;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">餐廳描述</span>
      </div>
      <input type="text" class="form-control bg-dark text-white" name="description" placeholder="尚未輸入">
    </div>

    <div class="input-group flex-nowrap pt-2" style="max-width: 50%; margin: auto auto;">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">圖片連結</span>
      </div>
      <input type="text" class="form-control bg-dark text-white" name="image">
    </div>

    <div class="d-flex justify-content-center mt-3" style="width: 100%;">
      <button class="btn btn-danger" type="submit">Create</button>
    </div>
  </form>
</div>